.general-info {
  background-color: $lightblue;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: $full-width;

  img {
    width: 50%;
  }

  .company-mission {
    color: $darkgray;
    font-family: $basefont;
    font-size: 50px;
    font-weight: 300;
    line-height: 70px;
    text-align: center;
    width: 80%;

    .bold-words {
      font-weight: 600;
    }
  }
}