.the-footer {
  align-items: center;
  background-color: $darkgray;
  display: flex;
  height: 130px;
  justify-content: center;
  width: $full-width;

  .foot-text {
    color: $gray;
    font-size: 20px;
    text-align: center;
    width: 40%;
  }
}