body {
  background-color: $lightblue;
  height: 1800px;
  width: 100%;

  @media #{$medium}{
    background-color: white;
    height: 1650px;
  }

  .whole-page {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    @import "./header";
    @import "./general-body";
    @import "./price-body";
    @import "./footer";
  }
}