$small: "(min-width:0px) and (max-width:600px)";
$medium: "(min-width:601px) and (max-width:1099px)";
$large: "(min-width: 1100px)";

$white : #FFFFFF;
$lightblue : #99CCCC;
$gray : #666666;
$darkgray : #333333;
$basefont : "Open Sans";
$full-width : 100%;