body {
  background-color: $lightblue;
  width: 100%;
}
.whole-header {
  background-color: $darkgray;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;

  .company-intro {
    display: flex;
    align-items: center;
    justify-content: center;

    .company-logo {
    filter: invert(100%);
    width: 60px;
    }

    .company-name {
      color: $lightblue;
      font-family: $basefont;
      font-size: 30px;
    }

    .extended-name {
      display: none;
    }
  }

  .navigation-bar {
    .nav-list {
      display: none;
    }
  }
}

